@model List<PayPalCheckout.PayPalItem>
@{
    ViewBag.Title = "Home Page";
}

<h1>I am here!</h1>

@using (Html.BeginForm("index", "Home", FormMethod.Post))
{
    foreach (var item in Model)
    {
        <h2>@item.Name</h2>
        <p>@item.Description</p>
        <small>@item.Price</small>
        <p>Quantity: <input type="text" name="quantity_@item.Sku" value="1" /></p>
        <input type="checkbox" name="selectedProducts" value="@item.Sku" />
        <hr/>
    }


    <input type="text" name="invoiceNumber" value="001" placeholder="Invoice Number"><br />
    <hr/>
    <input type="text" name="RecipientName" value="Marcio Barboza" placeholder="Recipient Name" ><br/>
    <input type="text" name="Line1" value="5-9 Bellevue Street" placeholder="Line 1"><br />
    <input type="text" name="Line2" value="Unit 8" placeholder="Line 2"><br />
    <input type="text" name="City" value="Arncliff" placeholder="City"><br />
    <input type="text" name="CountryCode" value="AU" size="2" placeholder="Country"><br />
    <input type="text" name="PostalCode" value="2205" placeholder="Postcode"><br />
    <input type="text" name="Phone" value="0420274512" placeholder="Phone"><br />
    <input type="text" name="State" size="3" value="NSW" placeholder="State"><br />


    <button>Payment</button>


    <h1>Error: @ViewBag.Error</h1>
    <pre>@ViewBag.Output</pre>
}